ConsultasERP/ConsultasERP/Connected Services/IWSDLPublish/IWSDLPublishservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="urn:Soap.InvokeRegistry" name="IWSDLPublishservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="urn:Soap.InvokeRegistry" targetNamespace="urn:Soap.InvokeRegistry">
      <xs:complexType name="InvStringDynArray">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:sequence xmlns="http://www.w3.org/2001/XMLSchema" />
            <xs:attribute xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:arrayType="xs:string[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="GetPortTypeList0Request" />
  <message name="GetPortTypeList0Response">
    <part name="return" type="ns1:InvStringDynArray" />
  </message>
  <message name="GetWSDLForPortType1Request">
    <part name="PortType" type="xs:string" />
  </message>
  <message name="GetWSDLForPortType1Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="GetTypeSystemsList2Request" />
  <message name="GetTypeSystemsList2Response">
    <part name="return" type="ns1:InvStringDynArray" />
  </message>
  <message name="GetXSDForTypeSystem3Request">
    <part name="TypeSystem" type="xs:string" />
  </message>
  <message name="GetXSDForTypeSystem3Response">
    <part name="return" type="xs:string" />
  </message>
  <portType name="IWSDLPublish">
    <operation name="GetPortTypeList">
      <input message="tns:GetPortTypeList0Request" />
      <output message="tns:GetPortTypeList0Response" />
    </operation>
    <operation name="GetWSDLForPortType">
      <input message="tns:GetWSDLForPortType1Request" />
      <output message="tns:GetWSDLForPortType1Response" />
    </operation>
    <operation name="GetTypeSystemsList">
      <input message="tns:GetTypeSystemsList2Request" />
      <output message="tns:GetTypeSystemsList2Response" />
    </operation>
    <operation name="GetXSDForTypeSystem">
      <input message="tns:GetXSDForTypeSystem3Request" />
      <output message="tns:GetXSDForTypeSystem3Response" />
    </operation>
  </portType>
  <binding name="IWSDLPublishbinding" type="tns:IWSDLPublish">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="GetPortTypeList">
      <soap:operation soapAction="http://www.borland.com/namespaces/Types-IWSDLPublish" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="http://www.borland.com/namespaces/Types" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.borland.com/namespaces/Types" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetWSDLForPortType">
      <soap:operation soapAction="http://www.borland.com/namespaces/Types-IWSDLPublish" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="http://www.borland.com/namespaces/Types" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.borland.com/namespaces/Types" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetTypeSystemsList">
      <soap:operation soapAction="http://www.borland.com/namespaces/Types-IWSDLPublish" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="http://www.borland.com/namespaces/Types" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.borland.com/namespaces/Types" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="GetXSDForTypeSystem">
      <soap:operation soapAction="http://www.borland.com/namespaces/Types-IWSDLPublish" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="http://www.borland.com/namespaces/Types" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.borland.com/namespaces/Types" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IWSDLPublishservice">
    <port name="IWSDLPublishPort" binding="tns:IWSDLPublishbinding">
      <soap:address location="https://sdk.erppronto.com.br:4027/soap/IWSDLPublish" />
    </port>
  </service>
</definitions>